<html>
<head>
    <link rel="icon" href="/Chamada/Application/View/img/favicon.ico" type="image/x-icon" />
	<title>Chamada</title>

    <?php
    	echo $GLOBALS['general_js'];
    	echo $js;
    	echo $GLOBALS['general_css'];
    ?>

</head>

<body width="100%" style="width: 100%;" topmargin="0" leftmargin="0">

	<div id="mainMenu">
		<?php \SaSeed\View::render('partial_menu'); ?>
	</div>
	
	<div id="messageBox"></div>
	<br />

	<div id="container">
		<?php echo $content; ?>
	</div>

</body>
</html>