<html>
<head>
    <link rel="icon" href="/Chamada/Application/View/img/favicon.ico" type="image/x-icon" />
	<title>Chamada</title>

    <?php
    	echo $GLOBALS['general_js'];
    	echo $GLOBALS['general_css'];
    	echo $css;
    ?>

</head>

<body width="100%" style="width: 100%;" topmargin="0" leftmargin="0">

	<div class="container">
		<img src="/Chamada/Application/View/img/logoGde.jpg" width="181" width="210" />
		<form id="loginForm">
			<div id="messageBox"></div>
			<div>Usu&aacute;rio: <input type="text" name="user" id="user" /></div>
			<div>Senha: <input type="text" name="password" id="password" /></div>
			<div><input type="button" value="OK" id="LogMeIn" /></div>
		</form>
	</div>

</body>
</html>