<html>
<head>
    <link rel="icon" href="/Chamada/Application/View/img/favicon.ico" type="image/x-icon" />
	<title>Chamada</title>

    <?php
    	echo $GLOBALS['general_js'];
    	echo $GLOBALS['general_css'];
    	echo $css;
    ?>

</head>

<body width="100%" style="width: 100%;" topmargin="0" leftmargin="0">

	<div class="loginContainer bigText">
		<br />
		<img src="/Chamada/Application/View/img/professor.png" width="170" width="195" />
		<br /><br />
		<form id="loginForm" style="width: 239px;">
			<div id="messageBox"></div>
			<label for="user">Usu&aacute;rio: </label>
			<input class="loginInput" type="text" name="user" id="user" />
			<br />
			<label for="user">Senha: </label>
			<input class="loginInput" type="password" name="password" id="password" />
			<br /><br />
			<input type="button" value="OK" id="LogMeIn" />
		</form>
	</div>

</body>
</html>