	<script type="text/javascript" src="/Chamada/Application/View/js/libs/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="/Chamada/Application/View/js/libs/jquery.fancybox.pack.js"></script>
	<script type="text/javascript" src="/Chamada/Application/View/js/libs/swfobject.js"></script>
	<script type="text/javascript" src="/Chamada/Application/View/js/libs/scriptcam.js"></script>
	<script type="text/javascript" src="/Chamada/Application/View/js/libs/jquery.maskedinput.js"></script>
	<script type="text/javascript" src="/Chamada/Application/View/js/scripts/scripts.js"></script>
	<script type="text/javascript" src="/Chamada/Application/View/js/scripts/webcam.js"></script>
