body {
	width: 100%;
	background-image: url('/Chamada/Application/View/img/background.png');
	background-repeat: repeat;
	text-align: center;
	font-family: Verdana;
	font-size: 12px;
}

label {
    display: inline-block;
    float: left;
    clear: left;
    width: 35%;
    text-align: right;
    margin-bottom: 10px;
    margin-right: 10px;
}

input, textarea, select {
  display: inline-block;
  float: left;
}

#webcam {
  display: inline-block;
}

#cameraNames {
  display: inline-block;
  float: none;
}

#messageBox {
	display: none;
	position: absolute;
	float: right;
	width: 30%;
	text-align: center;
	background-color: #FFF;
	padding: 5px;
}

.pointyWhenOver:hover {
	cursor: pointer;
}

#btn2 {
	position: absolute;
	float: left;
}

.alunoContainer {
	position: absolute;
	margin-left: 100px;
	width: 400px;
	padding-top: 30px;
	height: 370px;
}

#alunoContainer {
	background-image: url('/Chamada/Application/View/img/notebookBkg.jpg');
	background-color: #565;
}

#preAlunoContainer {
	background-color: #CCC;
	opacity: 0.35;
}

#loginForm label {
	float: left;
}

#loginForm .loginInput {
	float: right;
}

#container {
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 600px;
	text-align: center;
}


/*** MENU ***/

#mainMenu {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
 	width: 600px;
	text-align: center;
}

#mainMenu .menuItemOff {
	background-color: #7D7D7D;
}

#mainMenu .menuItemOn {
	background-color: #FFF;
}

#mainMenu #chamada {
	margin-left: 8%;
	float: left;
	padding: 5px;
}

#mainMenu #chamada:hover,
#mainMenu #listarTurmas:hover,
#mainMenu #LogMeOff:hover,
.actionButton:hover
{
	background-color: #FFF;
}

#mainMenu #listarTurmas {
	margin-left: 7%;
	float: left;
	padding: 5px;
}

#mainMenu #LogMeOff {
	margin-left: 8%;
	float: left;
	padding: 5px;
}

.subMenu, .subContent {
	text-align: center;
	width: 100%;
	margin-bottom: 10px;
}

.actionButton {
	margin-left: auto;
	margin-right: auto;
	background-color: #7D7D7D;
	padding: 5px;
	width: 60%;
	margin-top: 5px;
}

.formTitle  {
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	text-align: center;
	margin-bottom: 6px;
	font-size: 16px;
}

.chamadaTitle  {
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	text-align: left;
	margin-bottom: 1px;
	font-size: 16px;
}

.formButtons {
	width: 100%;
	text-align: center;
}

.listHeader {
	font-size: 14px;
	font-weight: bold;
}

.listRowItem {
	font-size: 14px;
}

/*** FONTS ***/

.mainText {
	font-family: Verdana;
	font-size: 12px;
	color: #000;
}

.bigText {
	font-family: Verdana;
	font-size: 14px;
	color: #000;
}


/* RESULTS AND RESULT NAVIGATION */

.result_field {
	float: left;
	margin-right: 1px;
	min-height: 15px;
	background-color: inherit;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 1px;
}

.return_row {
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	margin-bottom: 22px;
}

.new {
	background-color: #FFF;
	color: #000;
}

.edit {
	background-color: #949494;
	color: #CCC;
}

.return_row:hover {
	cursor: pointer;
	background-color: #CCC;
	color: #000;
}

.result_header {
	width: 100%;
}

.result_header_field {
	margin-right:		1px;
	float:				left;
	color:				#FFFFFF;
	background-color:	#7D7D7D;
	font-weight:		bold;
	padding-top: 3px;
	padding-bottom: 3px;
}

.result_body {
	width: 100%;
	float: left;
	text-align: center;
}

.result_header_field:hover {
	cursor:	pointer;
}

#fotoAluno {
	margin-bottom: 15px;
}

.obsAluno {
	width: 90%;
	text-align: left;
	height: 45px;
	margin-left: 5%;
	margin-bottom: 3px;
	font-size: 12px;
	border-width: 1px;
	border-color: #000;
	border-style: solid;
}

#veio {
	float: right;
	margin-right: 30%;
}

#naoVeio {
	float: left;
	margin-left: 30%;
}

#observacoes {
	width: 250px;
	height: 100px;
}

.mudarData {
	padding: 3px;
	background-color: #7D7D7D;
	width: 150px;
	text-align: center;
	color: #fff;
}

#dataChamadaTurma {
	padding: 3px;
	background-color: #7D7D7D;
	width: 156px;
	height: 25px;
	text-align: center;
	color: #fff;
	font-family: Verdana;
	font-size: 16px;
	border-width: 0px;
	font-weight: bold;
}